<div class="section no-pad-bot orange" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">Explore Your Taste</h1>
    <div class="row center">
      <h5 class="header col s12 light">Never Miss A Food Truck Festival Again...</h5>
    </div>
    <div class="row center">
      <%= simple_form_for @search do |f| %>
        <div class="input-field col s8 offset-s2 m3 offset-m3">
          <%= f.date_field :date, label: false, placeholder:"Enter Date", class:"datepicker" %>
          <label for="date">Date</label>
        </div>
        <div class="col s12 m3">
          <button class="btn-large waves-effect waves-cyan base" type="submit" name="action">
            Explore
          </button>
        </div>
      <% end %>
    </div>
    <br><br>
  </div>
</div>

<div class="section">
  <div class="row">
    <h3 class="header col s12 center">Today</h3>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag "background3.jpg", class:"activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>

